<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<div class="container">
    <div class="row">
        <div id="custom-search-input">
            <div class="input-group col-md-12" style="text-align: center">
                <input type="text" class="search-query form-control" placeholder="Search With name" name="name"
                    [(ngModel)]="name" />
                <span class="input-group-btn">
                    <button class="btn btn-danger" type="button" (click)="findByName()">
                        <span class=" glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="container">
        <div class="row col-md-6 col-md-offset-2 custyle">
            <table class="table table-striped custab">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{user.studentId}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.address}}</td>
                        <td class="text-center"><button class="btn" style="background-color:blue; color:white;"
                            [routerLink]="['/update',user.studentId]"> Edit</button>
                        </td>
                        <td class="text-center"><button class="btn btn-danger" (click)="deleteUser(user.studentId)">
                                <span class="glyphicon glyphicon-remove"></span> Delete</button></td>

                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>

    <div>
        <button class="btn" style="color:white; background-color: black;" (click)="back()">Back</button>
    </div>


     