<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
    <div class="row">
        <div id="custom-search-input">
            <div class="input-group col-md-12" style="text-align: center">
                <input type="text" class="search-query form-control" placeholder="Search with author name" name="authorName"
                    [(ngModel)]="authorName" />
                <span class="input-group-btn">
                    <button class="btn btn-danger" type="button" (click)="findByAuthorName()">
                        <span class=" glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="container">
        <div class="row col-md-6 col-md-offset-2 custyle">
            <table class="table table-striped custab">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>AuthorName</th>
                        <th>PublicationDate</th>
                        <th>Copies</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let book of books">
                        <td>{{book.id}}</td>
                        <td>{{book.name}}</td>
                        <td>{{book.authorName}}</td>
                        <td>{{book.publicationDate}}</td>
                        <td>{{book.copies}}</td>
                        <td class="text-center"><button class="btn" style="background-color:blue; color:white;"
                            [routerLink]="['/update-book',book.id]"> Edit</button>
                        </td>
                        <td class="text-center"><button class="btn btn-danger" (click)="deleteBook(book.id)">
                                <span class="glyphicon glyphicon-remove"></span> Delete</button></td>

                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>

    <div>
        <button class="btn" style="color:white; background-color: black;" (click)="back()">Back</button>
    </div>

</div>
