<h1>Angular App - Tonni Das Jui</h1>
<nav>
  <ul>
    <li><a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Register Student</a></li>
    <li><a routerLink="/search" routerLinkActive="active" ariaCurrentWhenActive="page">View and Search Students</a></li>
    <li><a routerLink="/register-book" routerLinkActive="active" ariaCurrentWhenActive="page">Register Book</a></li>
    <li><a routerLink="/search-book" routerLinkActive="active" ariaCurrentWhenActive="page">View and Search Books</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
